@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #16213e; /* Example color */
  --color-secondary: #1a1a2e;
  --color-accent: #c0c0c0;
}
body {
  background-color: var(--color-secondary);
  color: white;
}
